.header {
  height: 90px;
  position: fixed;
  z-index: 10;
  top: 0px;
  backdrop-filter: blur(8px);
  background-color: var(--backdrop);
  width: 100%;
  padding: 0 var(--space-gap);

  .wrapper {
    display: grid;
    height: inherit;

    .inner {
      display: flex;
      justify-content: space-between;
      overflow: hidden;

      .brand {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 0%;
        .avatar {
          display: block;
          transform: translateY(2px);
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          outline: none;
        }

        .title {
          font: 400 var(--font-major);
          display: flex;
          margin-left: var(--space-gap);
          margin-right: var(--space-gap);
          overflow: hidden;
          flex: 1 1 0%;
          max-width: 60vw;

          p {
            font-size: 24px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        svg {
          transition: all 0.5s ease 0s;
          will-change: stroke, fill;
        }
      }
      .nav {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        align-items: center;

        .svg {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          margin: 10px;
        }
      }
    }
  }
}
