.button {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 10px;
  padding: 0;
  margin: 10px;

  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  user-select: none;
  outline: none;
  border: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.primary {
    background-color: var(--background);
    color: white;

    path {
      fill: white !important;
    }
  }

  &:hover,
  &:focus {
    border-color: var(--background);
  }
}

.shadow {
  box-shadow: var(--shadow);
}

.border {
  border: var(--accents);
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .button {
    padding: 16px;
  }
}

.text {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:not(:first-child) {
    margin-left: 5px;
  }
}
