.main {
  font: 16px var(--font-sans);
  display: flex;
  flex-direction: column;
}

.intro {
  font-family: var(--font-major);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 194px - 75px);
}

.intro h2 {
  line-height: 1.6;
}

.latest_posts {
  height: 60px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.session {
  flex: 1 1 0%;
}

.aside {
  /* width: 40vw; */
}

.inner {
  /* position: fixed;
  display: none; */
}
